[user]
    name = Ted Kaemming
    email = ted@kaemming.com
[core]
    excludesfile = ~/.dotfiles/src/.gitignore
[branch]
    autosetuprebase = always
[diff]
    ignoreSubmodules = all
[alias]
    st = status
    co = checkout
    ci = commit -v
    cp = cherry-pick
    br = branch --verbose
    dc = diff --cached
    current-branch = !git branch 2>/dev/null | grep -P '^\\*' | head -1 | sed 's/^\\* \\(.*\\)/\\1 /g'
    conflicted = !git ls-files -u | cut -f 2 | sort -u
    root = rev-parse --show-toplevel
    l = log --pretty=oneline
[color]
    ui = auto
[github]
    user = tkaemming
    password = !security 2>&1 >/dev/null find-generic-password -gs github.password | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[gist]
    private = true
