[user]
    name = Ted Kaemming
    email = ted@kaemming.com
[core]
    excludesfile = ~/.dotfiles/src/.gitignore
[branch]
    autosetuprebase = always
[diff]
    ignoreSubmodules = all
[alias]
    aa = add --all
    st = status -sb
    co = !git-quick-checkout $1
    ci = commit -v
    cp = cherry-pick
    br = branch -vv
    dc = diff --cached
    archive-branch = !bash -c 'git branch -m {,${1:-archive}/}$0'
    current-branch = !git branch 2>/dev/null | grep '^\\*' | head -1 | sed 's/^\\* \\(.*\\)/\\1 /g'
    conflicted = !git ls-files -u | cut -f 2 | sort -u
    grep-all = !git rev-list --all | xargs git grep
    root = rev-parse --show-toplevel
    l = log --pretty=oneline
    ls = !cd $(git pwd) && git ls-tree --name-only HEAD | xargs -n 1 -I FILE git log -1 --pretty='%C(yellow)%h %C(reset)FILE' -- FILE
    ll = !cd $(git pwd) && git ls-tree --name-only HEAD | xargs -n 1 -I FILE git log -1 --pretty='%C(yellow)%h %C(white)FILE\n\t%s\n\t%an <%ae>, %cr' -- FILE
    graph = log --graph --oneline --decorate
    web = !bash -c 'hub browse -- blob/$(git rev-parse HEAD)/$0'
    web-blame = !bash -c 'hub browse -- blame/$(git rev-parse HEAD)/$0'
    clear = !git add --all && git reset --hard HEAD
    fix = commit --amend
    pwd = !echo ${GIT_PREFIX:-$(git root)}
    m = checkout master
    lint = !git diff --diff-filter=TM master --stat | grep .py | cut -d ' ' -f 2 | xargs pyflakes
[color]
    ui = auto
[github]
    user = tkaemming
    password = !security 2>&1 >/dev/null find-generic-password -gs github.password | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[gist]
    private = true
